.header{
    background-color: white;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}


.nav a{
    color: inherit;
    text-decoration: none;
    align-items: center;

}

.nav ul {
    padding-left: 0px;
    margin:0;
    list-style: none;
    display: flex;
    gap: 50px; 
}
.nav li:hover{

}

.abtH{
    text-align: center;
}
.abtP{
    text-align:center ;
}

.logos{
    align-items: center;
    display: flex;
    justify-content: center;
    
}

.github{
    height: 60px;
    width: 60px;
}
.linkedin{
    height: 60px;
    width: 60px;
}

.github:hover {
 background-color: white;
}
.linkedin:hover {
    background-color: white;
   }
.meimg{
    align-items: center;
    justify-content: center; 
}

.me{

    height: 250px;
    width: 200px;

}

.img1{
height: 100px;
width: 200px;

}
.projects{
    align-items: center;

}
.img1:hover {
    transform: scale(1.1);
  }

li{
    align-items: center;
    justify-content: center;
    
}
.resumepic{
    height: 700px;
    width: 600px;

}
.resdoc{
    align-items: center;
    justify-content: center;
}
.reshead{
    align-items: center;
    justify-content: center;
}
.download{
    padding-top: 15px;
    padding-left: 10px;
}