.header{
    background-color: white;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

.nav a{
    color: inherit;
    text-decoration: none;
    align-items: center;

}

.nav ul {
    padding-left: 0px;
    margin:0;
    list-style: none;
    display: flex;
    gap: 50px; 
}
.nav li:hover{

}

.abtH{
    text-align: center;
}
.abtP{
    text-align:center ;
}